{
	default_bind 0.0.0.0

	log {
		format console
		output stdout
		level ERROR
	}

	skip_install_trust

	pki {
		ca citm {
			root {
				cert /certs/rootCA.pem
				key /certs/rootCA-key.pem
			}
		}
	}
}

(dev_certs) {
	tls {
		on_demand
		issuer internal {
			ca citm
		}
	}
}

https://citm.internal:3858, https://*.citm.internal:3858, https://citm.localhost:3858 https://*.citm.localhost:3858 {
	import dev_certs

	@mitm `{host}.startsWith("mitm.citm.")`
	handle @mitm {
		reverse_proxy {
			to 127.0.0.1:8382
			header_up Authorization "Bearer secret"
			header_up -Origin

			transport http {
				network_proxy none
			}
		}
	}

	@utils `{host}.startsWith("utils.citm.")`
	handle @utils {
		reverse_proxy {
			to 127.0.0.1:5000

			transport http {
				network_proxy none
			}
		}
	}

	respond "Unknown service" 404
}

import /etc/caddy/conf.d/*
