name: Release Tag

on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed

jobs:
  check-version-and-release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          filter: blob:none
      
      - name: Check version
        id: check_version
        run: |
          FILE_VERSION=$(cat VERSION.txt)
          FILE_VERSION="${FILE_VERSION#v}"

          TAG_VERSION=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          TAG_VERSION="${TAG_VERSION#v}"

          if [ "$(printf '%s\n' "$TAG_VERSION" "$FILE_VERSION" | sort -V | tail -n1)" = "$FILE_VERSION" ] && [ "$FILE_VERSION" != "$TAG_VERSION" ]; then
            echo "VERSION in file is greater than the latest tag."
            echo "version_changed=true" >> $GITHUB_OUTPUT
          else
            echo "VERSION is not greater than the latest tag."
            echo "version_changed=false" >> $GITHUB_OUTPUT
          fi

          echo "version=$FILE_VERSION" >> $GITHUB_OUTPUT

      - name: Configure Git
        if: steps.check_version.outputs.version_changed == 'true'
        uses: fardjad/my-actions/configure-git@main

      - name: Create Git tag
        if: steps.check_version.outputs.version_changed == 'true'
        id: create_tag
        run: |
          TAG="v${{ steps.check_version.outputs.version }}"

          if git rev-parse $TAG >/dev/null 2>&1; then
            echo "Tag $TAG already exists, skipping..."
            echo "tag_exists=true" >> $GITHUB_OUTPUT
          else
            git tag -a $TAG -m "Release $TAG"
            git push origin $TAG
            echo "tag_exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Create release
        if: steps.check_version.outputs.version_changed == 'true' && steps.create_tag.outputs.tag_exists != 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          TAG: "v${{ steps.check_version.outputs.version }}"
        run: gh release create "${TAG}" --generate-notes
